.user_container {
  width: 100vw;
  height: 100vh;
  background: black;
}

.user_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  transition: 1s ease all;
  width: 50%;
  max-width: 900px;
  font-family: "AccoladeTOTMed W01 Regular";
  color: white;
}

.user_heading {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.user_desc {
  letter-spacing: 3px;
  color: rgb(233, 197, 94);
  margin-bottom: 3rem;
}
