.story_container {
  width: 100vw;
  height: 100vh;
  background: black;
  transition: ease-in-out 1s all;
}

@media only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .story_container {
    height: auto;
  }
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .story_container {
    height: auto;
  }
}

.story_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  transition: 1s ease all;
  width: 50%;
  max-width: 900px;
  font-family: "AccoladeTOTMed W01 Regular";
  color: white;
}

.story_title {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 4rem;
}

.story_desc {
  line-height: 1.2;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
