.confirm_container {
  width: 100vw;
  height: 100vh;
  background: black;
  background: radial-gradient(at 90% 0, black, transparent 70%), linear-gradient(90deg, black, transparent 100%) bottom,
    url("../../../assets/exp.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .confirm_container {
    height: auto;
    background-repeat: inherit;
    background-size: auto;
  }
}

@media only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .confirm_container {
    height: auto;
    background-size: auto;
    background-size: auto;
  }
}

.confirm_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  transition: 1s ease all;
  width: 50%;
  max-width: 900px;
  font-family: "AccoladeTOTMed W01 Regular";
  color: white;
}

.confirm_heading {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.confirm_desc {
  letter-spacing: 3px;
  border-bottom: 1px solid gold;
  padding-bottom: 2rem;
}
