.intro_container {
  width: 100vw;
  height: 100vh;
  background: black;
  transition: ease-in-out 1s all;
}

@media only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .intro_container {
    height: auto;
  }
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .intro_container {
    height: auto;
  }
}

.intro_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  transition: 1s ease all;
  width: 50%;
  max-width: 900px;
  font-family: "AccoladeTOTMed W01 Regular";
  color: white;
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .intro_box {
    padding-top: 7rem;
  }
}

.intro_title {
  letter-spacing: 5px;
}

.intro_para {
  line-height: 1.2;
  font-size: 1.1rem;
}
